@font-face {
  font-family: Silkscreen;
  src: url('/fonts/slkscr.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #171C21;
}

header {
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header h2 {
  font-family: Helvetica;
  color: #CDFB7C;
  font-size: 200%
}

.menu-toggle {
  width: 24px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: auto;
  margin-right: 40px;
}

.bar {
  background-color: peachpuff;
  margin: 5px 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
}

body {
  background: transparent;
  background-size: cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body p {
  color: #DDE0FF;
}

.content-top {
  padding: 1rem;
  margin-top: 10rem;
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 30px;
  background: transparent;
  /* Fondo semitransparente */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  /* Elevación */
  backdrop-filter: blur(10px);
  /* Efecto blur en el fondo */
  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;

}

.content-top h1 {
  color: #CBFF2E;
}

.content-top p {
  color: #DDE0FF;
}

.wave-top {
  background-color: #8630FF;
  position: relative;
  padding: 2rem;
  text-align: left;
  color: white;
  overflow: hidden;
}

.wave-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 80px;
  background: #8630FF;
  background-size: auto;
}

.card-rounded {
  border-radius: 20px;
  border: 2px solid #CBFF2E;
  width: 100%;
  margin-top: 3rem;
}

a {
  color: #CBFF2E;
}

.boton-redondeado {
  background: #CBFF2E;
  border-radius: 50%;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 12px;
  text-align: center;
}

.boton-contacto {
  background: #7E8EF1;
  border: none;
  border-radius: 20px;
  padding: 12px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  margin: auto;
  margin-right: 10px;
  color: #fff;
}

img {
  pointer-events: none;
}

input,
textarea {
  width: 100%;
  padding: 13px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.input-design {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.sponsor {
  margin-top: 30px;
  padding: 2rem;
  text-align: center;
  color: white;
}


.sponsor p {
  font-size: 14px;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
}

.sponsor button {
  margin-top: 3rem;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid #CBFF2E;
  background: none;
  color: white;
  font-size: 13px;
}

.headInnr {
  display: flex;
  margin-left: -5px;
}

.roclahy-svg-logo path {
  stroke: #9D01C6;
}

.drK .roclahy-svg-logo path {
  stroke: #D754FE;
}

svg {
  outline: none
}

.card-rounded i {
  color: white;
}

/* sponsor content */
.sponsor-content {
  margin-top: 80px;
  padding: 2rem;
  font-family: Verdana;
}


/* Estilo del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Estilo del campo de texto */
.dropdown-button {
  background-color: #FFF;
  color: #333;
  padding: 13px;
  border: 1px solid #000;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  user-select: none;
  /* Evita la selección de texto */
}

/* Estilo del contenedor de las opciones */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  z-index: 1;
  width: 100%;
}

/* Estilo de cada opción dentro del dropdown */
.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/* Cambio de color al pasar el mouse sobre una opción */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el dropdown cuando se activa */
.dropdown.active .dropdown-content {
  display: block;
}

hr {
  height: 2px;
  background-color: #EBEBEB;
  border: none;

}

.button-submit {
  padding: 15px 35px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  background: #615EFC;
}


button:hover {
  background-color: #CBFF2E;
  color: black;
}

footer {
  padding: 2rem;
  background: #8630FF;
  color: #000;
  font-size: 12px;
  text-align: center;
}

footer i {
  color: #DDE0FF;
}