@font-face {
  font-family: Silkscreen;
  src: url('fonts/slkscr.ttf') format('truetype');
}

p,
h2,
h4 {
  font-family: Helvetica;
}

body {
  background: #1E201E;
  color: #FFF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  background: #1E201E;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  padding-top: 120px;

}

.content {
  padding: 2rem;
  margin-top: 30px;
}

img{
  pointer-events: none;

}

.imagen-redondeada {
  border-radius: 20px;
  border: 2px solid #61613B;
  width: 100%;
  margin-top: 20px;
}

.boton-redondeado {
  background: #ECDFCC;
  border-radius: 50%;
  border: none;
  padding: 12px 14px;
  cursor: pointer;
  text-align: center;
}

/*
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  transition: background-color 0.3s ease;
  
}*/

.boton-redondeado:hover {
  background-color: #ECDFCC;
  /* Color de fondo al pasar el mouse por encima */
}

a:link,
a:visited {
  color: #888878;
}

footer {
  padding: 2rem;
  background: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}